## Programa Ingenias+ Data Science

# Sección nueva

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [1]:
import pandas as pd
import numpy as np

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [2]:
# Leo los datos en un DataFrame y lo guardo en la variable expvida
expvida = pd.read_csv('Life_Expectancy_Data.csv')

3) ¿Que tipo de estructura de datos contiene la variable `expvida`?

In [3]:
# Obtengo el tipo de estructura de datos
type(expvida)

pandas.core.frame.DataFrame

4) ¿Cuantas filas y columnas tiene `expvida`?

In [4]:
# Uso .shape para obtener cantidad de filas y columnas
expvida.shape

(2938, 22)

**Numero de filas**:

**Numero de columnas**:

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [5]:
# Obtengo el nombre de las columnas
expvida.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [ ]:
# Inspecciono las primeras filas
expvida.head(10)

7) Y ahora las 10 ultimas.

In [ ]:
# Inspecciono las ultimas filas
expvida.tail(10)

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [ ]:
# Tipo de datos en cada columna
expvida.dtypes

9) ¿Hay valores faltantes en alguna de las columnas de `expvida`?

In [6]:
# Obtengo la cantidad de datos faltantes en cada columna
faltantes=expvida.isnull().sum()
print(faltantes)

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [8]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan
masnan = expvida.isnull().sum().max()

print('El valor máximo de datos faltantes es', masnan)

El valor máximo de datos faltantes es 652

In [16]:
# Obtengo la cantidad de filas total y divido el maximo valor de datos faltantes por este numero
# luego lo multiplico por 100
expvida_filas= len(expvida)

faltantes_max= (masnan / expvida_filas) * 100

print(faltantes_max)

22.19196732471069

In [12]:
# Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.
print(f'El porcentaje máximo de filas nulas es {faltantes_max:.2f} %')

El porcentaje máximo de filas nulas es 22.19 %

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

Una función útil para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [17]:
# Renombro columnas del DataFrame
expvida.rename(columns={'Life expectancy ': 'life_expectancy', ' BMI ': 'bmi', 'Measles ': 'measles'}, inplace=True)

In [18]:
# Chequeo que se hayan reemplazado correctamente
expvida.columns

Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?

In [19]:
# Obtengo el promedio de la columna
promedio_general=expvida['life_expectancy'].mean()
print(f'El promedio de expectativa de vida es {promedio_general:.2f}')

El promedio de expectativa de vida es 69.22

13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?

In [20]:
# Obtengo el promedio por pais
promedio_pais=expvida.groupby('Country')['life_expectancy'].mean().round(2)
print('El promedio de expectativa de vida por pais es')
print(promedio_pais)

El promedio de expectativa de vida por pais es
Country
Afghanistan                           58.19
Albania                               75.16
Algeria                               73.62
Angola                                49.02
Antigua and Barbuda                   75.06
                                      ...
Venezuela (Bolivarian Republic of)    73.39
Viet Nam                              74.78
Yemen                                 63.86
Zambia                                53.91
Zimbabwe                              50.49
Name: life_expectancy, Length: 193, dtype: float64

14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?

In [22]:
# Maxima expectativa de vida usando numpy
max_expect_np=np.max(expvida['life_expectancy'])
print('La máxima expectativa de vida es', max_expect_np)

La máxima expectativa de vida es 89.0

In [29]:
# Maxima expectativa de vida usando pandas
max_expect=expvida['life_expectancy'].max()
print('La máxima expectativa de vida es', max_expect)

La máxima expectativa de vida es 89.0

In [23]:
# Minima expectativa de vida usando numpy
min_expect_np=np.min(expvida['life_expectancy'])
print('La mínima expectativa de vida es', min_expect_np)

La mínima expectativa de vida es 36.3

In [27]:
# Minima expectativa de vida usando pandas
min_expect=expvida['life_expectancy'].min()
print('La mínima expectativa de vida es', min_expect)

La mínima expectativa de vida es 36.3

In [25]:
# Muestro los resultados maximos
max_fila = expvida.loc[expvida['Country'].idxmax()]
print(f'La fila con el valor máximo para cada categoría es')
print(max_fila)

La fila con el valor máximo para cada categoría es
Country                              Zimbabwe
Year                                     2015
Status                             Developing
life_expectancy                          67.0
Adult Mortality                         336.0
infant deaths                              22
Alcohol                                   NaN
percentage expenditure                    0.0
Hepatitis B                              87.0
measles                                     0
bmi                                      31.8
under-five deaths                          32
Polio                                    88.0
Total expenditure                         NaN
Diphtheria                               87.0
 HIV/AIDS                                 6.2
GDP                                 118.69383
Population                         15777451.0
 thinness  1-19 years                     5.6
 thinness 5-9 years                       5.5
Income composition of resources         0.507
Schooling                                10.3
Name: 2922, dtype: object

In [ ]:
# Muestro los resultados minimos
min_fila = expvida.loc[expvida['Country'].idxmin()]
print(f'La fila con el valor mínimo para cada categoría es')
print(min_fila)

La fila con el valor mínimo para cada categoría es
Country                            Afghanistan
Year                                      2015
Status                              Developing
life_expectancy                           65.0
Adult Mortality                          263.0
infant deaths                               62
Alcohol                                   0.01
percentage expenditure               71.279624
Hepatitis B                               65.0
measles                                   1154
bmi                                       19.1
under-five deaths                           83
Polio                                      6.0
Total expenditure                         8.16
Diphtheria                                65.0
 HIV/AIDS                                  0.1
GDP                                  584.25921
Population                          33736494.0
 thinness  1-19 years                     17.2
 thinness 5-9 years                       17.3
Income composition of resources          0.479
Schooling                                 10.1
Name: 0, dtype: object

In [32]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al maximo
filas_max_1 = expvida[expvida["life_expectancy"] == max_expect]
# filtro para que aparezcan una sola vez los nombre de esos paises
filas_max = filas_max_1['Country'].unique()
print(f'Los países que tienen la mayor expectativa de vida son {", ".join(filas_max)}')

Los países que tienen la mayor expectativa de vida son Belgium, Finland, France, Germany, Italy, New Zealand, Norway, Portugal, Spain, Sweden

In [35]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al minimo
filas_min_1 = expvida[expvida["life_expectancy"] == min_expect]
# filtro para que aparezcan una sola vez los nombre de esos paises
filas_min = filas_min_1['Country'].unique()
print(f'El países que tiene la menor expectativa de vida es {", ".join(filas_min)}')

El países que tiene la menor expectativa de vida es Haiti

15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [37]:
# Obtengo los valores unicos de la columna status
valores_unicos=expvida['Status'].unique()
print('Los valores únicos son:',valores_unicos)

Los valores únicos son: ['Developing' 'Developed']

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [ ]:
# Cuento cuantos valores hay de cada categoria
expvida.groupby('Status')['Country'].value_counts()

Status      Country
Developed   Australia                16
            Austria                  16
            Belgium                  16
            Bulgaria                 16
            Croatia                  16
                                     ..
Developing  Niue                      1
            Palau                     1
            Saint Kitts and Nevis     1
            San Marino                1
            Tuvalu                    1
Name: count, Length: 193, dtype: int64

18) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [40]:
# Cuento cuantas filas tienen valores distintos de cero
sarampion=expvida[(expvida['Year'] == 2015) & (expvida['measles'] != 0)]['Country'].count()
print('En 2015', sarampion, 'países presentaron algún caso de sarampión')

En 2015 121 países presentaron algún caso de sarampión